<p>
    Search:
    <input ng-model="$ctrl.query">
</p>

<p>
    Sort by:
    <select ng-model="$ctrl.orderProp">
        <option value="name">Name</option>
        <option value="id">ID</option>
        <option value="Manufacturer">Manufacturer</option>
    </select>
</p>
<br>
<ul>
    <li ng-repeat="camera in $ctrl.cameras | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <a href="#!/cameras/{{camera.id}}">
            <img ng-src="{{camera.image}}" alt="{{camera.name}}" />
        </a>
        <br>
        <span>ID: {{camera.id}}</span>
        <br>
        <span>Name: {{camera.name}}</span>
        <br>
        <span>Manufacturer: {{camera.Manufacturer}}</span>
    </li>
</ul>