html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body{
  margin-top: 48px;
}

.wrapper {
  min-height: 100%;
  position: relative;

}

.wrapper a {
  text-decoration: none;
}

.content {
  padding-bottom: 72px;
  height: 100%;
}

h1, h2, h4, h5, h6 {
  margin-left: 10px;
}

.md-image-no-fill {
  height: 100px;
  width: auto;
}

.md-whiteframe-24dp {
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5
}

.contacts {
  float: left;
}

.contacts h3, .contacts p {
  padding: 7px;
}

iframe {
  margin-top: 10px;
  border: 0;
  background-color: #dddddd;
  width: 50%;
  height: 450px;
}

