footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  line-height: 72px;
  background-color: #455a64;
  font-size: 24px;
  color: rgba(233, 233, 233, 0.75);
}

footer div{
  margin: 0 5px;
}

footer div:first-child{
  float: left;
  margin-left: 24px;
}

footer div:last-child{
  float: right;
  margin-right: 24px;
}

@media (max-width: 600px)  {
  footer div:last-child{
    display: none;
  }
}
