.header{
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper__indent {
  padding: 0 24px;
}

.logo__icon{
  display: block;
  margin: 4px 0;
  float: left;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.logo__name{
  margin-left: 14px;
  line-height: 48px;
  font-size: 28px;
  color: #000000;
}

.logo__name span{
  color: red;
}

.logo a{
  text-decoration: none;
  color: #ffffff;
}

.btn-mobile-menu{
  float: right;
}

.md-button.md-icon-button {
  margin: 4px;
}