header{
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo-icon{
  display: block;
  margin: 4px;
  float: left;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.logo-name{
  line-height: 48px;
  font-size: 28px;
  color: #000000;
}

.logo-name span{
  color: red;
}



.logo a{
  text-decoration: none;
  color: #ffffff;
}

.btnMobileMenu{
  float: right;
}

