md-nav-bar{

}

.nav__scrolled{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 1;
  background-color: #dddddd;
  transition: all 1s;
}

.logo{
  font-size: 37px;
  padding: 2px 10px;
}

.logo span{
  color: red;
}