.menu{
  float: right;
  border: none;
  margin-right: 24px;
}

.menu__item{
  display: inline-block;
}



.menu__link{
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  padding: 0 10px;
  color: #455a64;
  transition: 0.5s all;
}



.menu__link:hover{
  color: #000000;
  background-color: #f0f0f0;
  transition: 0.5s all;
}

.menu__item_active .menu__link{
  color: #ff0000;
  transition: 0.5s all;
  font-weight: 500;
}