.clearfix{
  overflow: auto;
}

.catList {
  text-align: center;
}

.catList-item {
  display: inline-block;
  text-align: center;
  width: 261px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
}

.catList-item:hover {
  box-shadow: 10px 10px 5px grey;
  transition: 0.5s all;
}

.catList-item a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
}

.catList-item a:visited {
  color: #000000;
}

.productList {
  margin: 10px 0 0 20%;
}

.filters {
  width: 20%;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
}

.companyAbout {
  height: 500px;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center;
}

.companyAbout div {
  padding-top: 200px;
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

md-input-container {
  width: 100%;
  margin-bottom: 0;
}

md-list-item {
  float: left;
  width: 33.3%;
  margin-top: 3px;
}

.btnShowMore {
  height: 88px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.companyServices{
  text-align: center;
  padding: 50px 0;
}

.companyServices-item{
  display: inline-block;
  margin: 20px;
}

.companyServices span {
  color: #455a64;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

.companyServices md-content{
  text-align: center;
}

.companyServices md-icon {
  height: 100px;
  width: 100px;
}

.companyProducts{
  float: left;
  background: url("../img/sec.jpg") no-repeat center;

}

.companyContacts{
  float: right;
  background: url("../img/Contacts.jpg") no-repeat center;
}

.companyProducts, .companyContacts {
  background-size: cover;
  text-align: center;
  height: 400px;
  width: 50%;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  line-height: 400px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}


@media (min-width: 600px) and (max-width: 960px) {
  md-list-item {
    width: 50%;
  }

  .companyAbout div {
    padding-top: 150px;

  }

}

@media (max-width: 600px) {
  md-list-item {
    width: 100%;
  }

  .filters {
    width: 40%;
  }

  .productList {
    margin: 10px 0 0 40%;
  }

  .companyAbout div {
    padding-top: 150px;
    font-size: 40px;
  }

  .companyProducts, .companyContacts {
    width: 100%;
  }
}
