* {
  margin: 0;
  padding: 0; }

nav {
  background-color: green; }

body {
  background-color: grey;
  -webkit-transition: all 4s ease;
  transition: all 4s ease; }

footer {
  background-color: black; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9ub3JtYWxpemF0aW9uLnNjc3MiLCJfbmF2LnNjc3MiLCJfYm9keS5zY3NzIiwiX2Zvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsVUFBVTtFQUNWLFdBQVcsRUFDWjs7QUNIRDtFQUNFLHdCQUF3QixFQUN6Qjs7QUNGRDtFQUNFLHVCQUF1QjtFQUN2QixnQ0FBd0I7RUFBeEIsd0JBQXdCLEVBQ3pCOztBQ0hEO0VBQ0Usd0JBQXdCLEVBQ3pCIiwiZmlsZSI6InN0eWxlcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIqe1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG59IiwibmF2e1xyXG4gIGJhY2tncm91bmQtY29sb3I6IGdyZWVuO1xyXG59IiwiYm9keXtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiBncmV5O1xyXG4gIHRyYW5zaXRpb246IGFsbCA0cyBlYXNlO1xyXG59IiwiZm9vdGVye1xyXG4gIGJhY2tncm91bmQtY29sb3I6IGJsYWNrO1xyXG59Il19 */
