* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin-top: 48px; }

.wrapper {
  min-height: 100%;
  position: relative; }

.wrapper a {
  text-decoration: none; }

.content {
  padding-bottom: 72px;
  height: 100%; }

h1, h2, h4, h5, h6 {
  margin-left: 10px; }

.md-image-no-fill {
  height: 100px;
  width: auto; }

.md-whiteframe-24dp {
  margin-left: 20px; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; }

tr:hover {
  background-color: #f5f5f5; }

.contacts {
  float: left; }

.contacts h3, .contacts p {
  padding: 7px; }

iframe {
  margin-top: 10px;
  border: 0;
  background-color: #dddddd;
  width: 50%;
  height: 450px; }

header {
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.logo__icon {
  display: block;
  margin: 4px;
  float: left;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.logo__name {
  line-height: 48px;
  font-size: 28px;
  color: #000000; }

.logo__name span {
  color: red; }

.logo a {
  text-decoration: none;
  color: #ffffff; }

.btn-mobile-menu {
  float: right; }

.menu {
  float: right;
  border: none; }

.menu__item {
  display: inline-block; }

.menu__link {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  padding: 0 10px;
  color: #455a64;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }

.menu__link:hover {
  color: #000000;
  background-color: #f0f0f0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }

.clearfix {
  overflow: auto; }

ul {
  list-style: none; }

.category-list {
  text-align: center; }

.category-list a {
  display: inline-block; }

.category-list md-card:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26); }

.category-list md-card {
  width: 300px; }

.md-headline {
  font-size: 22px; }

.product-list {
  margin: 0 0 0 20%;
  padding: 10px;
  width: 100%; }

.filters {
  width: 19%;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
  padding-left: 1%; }

.about-title {
  height: 500px;
  width: 100%;
  background: url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center; }

.about-title div {
  padding-top: 200px;
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); }

md-input-container {
  width: 100%;
  margin-bottom: 0; }

md-list-item {
  float: left;
  width: 33.3%;
  margin-top: 3px; }

.btn-show-more {
  background-color: #f0f0f0; }

.services-list {
  text-align: center;
  padding: 50px 0; }

.services-list__item {
  display: inline-block;
  margin: 20px;
  width: 210px; }

.services-list__item img {
  width: 70px;
  height: 70px; }

.services-list span {
  color: #455a64;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); }

.products-link {
  float: left;
  background: url("../img/sec.jpg") no-repeat center; }

.contacts-link {
  float: right;
  background: url("../img/Contacts.jpg") no-repeat center; }

.products-link, .contacts-link {
  background-size: cover;
  text-align: center;
  height: 400px;
  width: 50%;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -2.2px;
  line-height: 400px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); }

.contacts-list {
  text-align: center;
  float: left;
  width: 50%; }

.contacts-list__item {
  margin-bottom: 30px; }

.contacts-list__item h3 {
  font-size: 30px; }

.contacts-list__item p {
  font-size: 20px; }

.payment, .delivery {
  width: 50%;
  float: left; }

.payment h3, .delivery h3 {
  font-size: 25px;
  padding: 20px 0 0 20px; }

.payment li, .delivery li {
  padding: 20px;
  font-size: 20px;
  text-align: justify; }

.delivery li:last-child, .payment li:last-child {
  padding-bottom: 20px; }

@media (min-width: 600px) and (max-width: 960px) {
  md-list-item {
    width: 50%; }
  .payment, .delivery {
    width: 100%; }
  .about-title div {
    padding-top: 150px; }
  .products-link, .contacts-link {
    font-size: 35px; } }

@media (max-width: 600px) {
  md-list-item {
    width: 100%; }
  .payment, .delivery {
    width: 100%; }
  .contacts-list {
    width: 100%; }
  iframe {
    width: 100%; }
  .filters {
    width: 40%; }
  .product-list {
    margin: 0 0 0 40%; }
  .about-title div {
    padding-top: 150px;
    font-size: 40px; }
  .products-link, .contacts-link {
    width: 100%; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  line-height: 72px;
  background-color: #455a64;
  font-size: 24px;
  color: rgba(233, 233, 233, 0.75); }

footer div {
  margin: 0 5px; }

footer div:first-child {
  float: left; }

footer div:last-child {
  float: right; }

@media (max-width: 600px) {
  footer div:last-child {
    display: none; } }

.view-container {
  position: relative; }

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.view-frame.ng-enter {
  -webkit-animation: 1s fade-in;
          animation: 1s fade-in;
  z-index: 100; }

.view-frame.ng-leave {
  -webkit-animation: 1s fade-out;
          animation: 1s fade-out;
  z-index: 99; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
