<md-input-container>
    <label>Search</label>
    <input ng-model="search.$">
</md-input-container>

<md-input-container>
    <label>Search by name</label>
    <input ng-model="search.name">
</md-input-container>

<md-input-container>
    <label>Search by id</label>
    <input ng-model="search.id">
</md-input-container>

<md-input-container>
    <label>Search by manufacturer</label>
    <input ng-model="search.manufacturer">
</md-input-container>
<br>

<md-input-container>
    <label>Sort by</label>
    <md-select ng-model="$ctrl.orderProp">
        <md-option value="name">Name</md-option>
        <md-option value="id">ID</md-option>
        <md-option value="manufacturer">Manufacturer</md-option>
    </md-select>
</md-input-container>


<md-input-container>
    <label>Filter by manufacturer</label>
    <md-select ng-model="$ctrl.filter" multiple>
        <md-optgroup label="manufacturer">
            <md-option ng-value="manufacturer" ng-repeat="manufacturer in $ctrl.getManufacturer()" selected="">
                {{manufacturer}}
            </md-option>
        </md-optgroup>
    </md-select>
</md-input-container>

<md-input-container class="md-block">
    <label>
        Items on page (available {{$ctrl.products.length}}):</label>
    <input type="number" step="1" ng-model="$ctrl.numLimit" min="1" max="{{$ctrl.products.length}}">
</md-input-container>

<ul>
    <li ng-repeat="product in ($ctrl.products | filter: $ctrl.filterByManufacturer) | filter:search:strict
            |  orderBy:$ctrl.orderProp  | limitTo:$ctrl.numLimit">
        <a href="#!/products/{{$ctrl.productType}}/{{product.id}}">
            <img ng-src="{{product.image}}" alt="{{product.name}}"/>
        </a>
        <br>
        <span>ID: {{product.id}}</span>
        <br>
        <span>Name: {{product.name}}</span>
        <br>
        <span>Manufacturer: {{product.manufacturer}}</span>
    </li>
</ul>

<md-button class="md-raised" ng-click="$ctrl.showMore()">SHOW MORE</md-button>
