<p>
    Search:
    <input ng-model="search.$"><br>
    Search by name:
    <input ng-model="search.name"><br>
    Search by id:
    <input ng-model="search.id"><br>
    Search by manufacturer:
    <input ng-model="search.manufacturer"><br>

</p>

<p>
    Sort by:
    <select ng-model="$ctrl.orderProp">
        <option value="name">Name</option>
        <option value="id">ID</option>
        <option value="manufacturer">Manufacturer</option>
    </select>
</p>

<p>
    Filter by manufacturer:
    <br>

<div ng-repeat="manufacturer in $ctrl.getManufacturer()">
    <label>
        <input type="checkbox" ng-model="$ctrl.filter[manufacturer]" />
        {{ manufacturer }}
    </label>
</div>
</p>
<br>
<ul>
    <li ng-repeat="camera in ($ctrl.cameras | filter: $ctrl.filterByManufacturer) | filter:search:strict |  orderBy:$ctrl.orderProp">
        <a href="#!/cameras/{{camera.id}}">
            <img ng-src="{{camera.image}}" alt="{{camera.name}}" />
        </a>
        <br>
        <span>ID: {{camera.id}}</span>
        <br>
        <span>Name: {{camera.name}}</span>
        <br>
        <span>Manufacturer: {{camera.manufacturer}}</span>
    </li>
</ul>